$color-primary: #001

$color-secondary: azure

$border-color: #302c3f

$text-color: azure

$gradient2: line-gradient(170deg, azure, lightblue)

$gradient: line-gradient(270deg, #4f56ff, #ff4980)

$main-contrast: #ff4980

