@import 'variables.sass'
.dashboardContainer
  align: center
  display: block
  grid-template-columns: 1fr 1fr
  column-gap: 2.25rem
  padding: 2rem 2.5rem
  border-radius: 1.375rem
  & > p
   font-size: 1.5rem
   line-height: 1.75
   color: $text-color
   text-align: center 
   

.Dashboard 
        text-align: center
        background-image : linear-gradient(170deg, lightblue, blue)
        background-clip: text
        -webkit-text-fill-color: transparent
        font-size: 2rem
        margin: 3rem 0 
        margin-bottom: 1rem
        letter-spacing: 0.05em

.powerBiContainer 
  width: 100%
  height: 100%