@import 'variables.sass'
.Hero
    & > h1
        text-align: center
        background-image : linear-gradient(170deg, lightblue, blue)
        background-clip: text
        -webkit-text-fill-color: transparent
        font-size: 7rem
        margin: 3rem 0 
        margin-bottom: 1rem
        letter-spacing: 0.05em

    & > h2
        font-size: 3rem
        margin: 0 0 3rem 0 
        text-align: center
        color: $color-secondary
